# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/docs

# macOS
.DS_Store

# Environment files
frontend/.env
frontend/.env.*
!frontend/.env.example

backend/.env
backend/.env.*
!backend/.env.example

# Nuxt
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
frontend/dist/

# Laravel
backend/vendor/
backend/node_modules/
backend/storage/logs/*.log
backend/bootstrap/cache/*.php

# IDE
.vscode/
.idea/